//------------------------------------------------------------------------------
// Archivo de Recursos para MakerAi Suite v3.0
// Copyright © 2024-2025 Gustavo Enríquez - CimaMaker
//------------------------------------------------------------------------------
//------------------------------------------------------------------------------
// CORE COMPONENTS - Componentes principales
//------------------------------------------------------------------------------
TAICHATCONNECTION   BITMAP "icons\TAiChatConnection_24.bmp"
//------------------------------------------------------------------------------
// CHAT COMPONENTS - Componentes de chat por proveedor
//------------------------------------------------------------------------------
TAICLAUDECHAT        BITMAP "icons\TAiClaudeChat_24.bmp"
TAIDEEPSEEKCHAT      BITMAP "icons\TAiDeepSeekChat_24.bmp"
TAIGEMINICHAT        BITMAP "icons\TAiGeminiChat_24.bmp"
TAIGROKCHAT          BITMAP "icons\TAiGrokChat_24.bmp"
TAIGROQCHAT          BITMAP "icons\TAiGroqChat_24.bmp"
TAIMISTRALCHAT       BITMAP "icons\TAiMistralChat_24.bmp"
TAIOLLAMACHAT        BITMAP "icons\TAiOllamaChat_24.bmp"
TAIOPENCHAT          BITMAP "icons\TAiOpenAIChat_24.bmp"
TAIOPENAIRESPONSES   BITMAP "icons\TAiOpenAIResponsesChat_24.bmp"
TAILMSTUDIOCHAT      BITMAP "icons\TAiLMStudioChat_24.bmp"
TAIKIMICHAT          BITMAP "icons\TAiKimiChat_24.bmp"
TAIFUNCTIONS         BITMAP "icons\TAiFunctions_24.bmp"
TAIPROMPTS           BITMAP "icons\TAiPrompts_24.bmp"
//------------------------------------------------------------------------------
// AI SERVICES - Servicios de IA
//------------------------------------------------------------------------------
TAIWHISPER          BITMAP "icons\TAiWhisper_24.bmp"
TAIDALLE            BITMAP "icons\TAiDalle_24.bmp"
TAIVOICEMONITOR     BITMAP "icons\TAiVoiceMonitor_24.bmp"
//------------------------------------------------------------------------------
// MCP SERVICES - Server
//------------------------------------------------------------------------------
TAIMCPDIRECTCONNECTION BITMAP "icons\TAiMCPDirectConnection_24.bmp"
TAIMCPHTTPSERVER       BITMAP "icons\TAiMCPHttpServer_24.bmp"
TAIMCPSTDIOSERVER      BITMAP "icons\TAiMCPStdIoServer_24.bmp"
//------------------------------------------------------------------------------
// EMBEDDINGS
//------------------------------------------------------------------------------
TAIOPENAIEMBEDDINGS     BITMAP "icons\TAiOpenAiEmbeddings_24.bmp"
TAIMISTRALEMBEDDINGS    BITMAP "icons\TAiMistralEmbeddings_24.bmp"
TAIOLLAMAEMBEDDINGS     BITMAP "icons\TAiOllamaEmbeddings_24.bmp"
TAIGEMINIEMBEDDINGS     BITMAP "icons\TAiGeminiEmbeddings_24.bmp"
TAILMSTUDIOEMBEDDINGS   BITMAP "icons\TAiGeminiEmbeddings_24.bmp"
//------------------------------------------------------------------------------
// RAG COMPONENTS - Retrieval-Augmented Generation
//------------------------------------------------------------------------------
TAIRAGVECTOR        BITMAP "icons\TAiRAGVector_24.bmp"
TAIRAGGRAPH         BITMAP "icons\TAiRAGGraph_24.bmp"
TAIRAGGRAPHBUILDER  BITMAP "icons\TAiRAGBuilder_24.bmp"
//------------------------------------------------------------------------------
// AGENTS - Sistema de agentes
//------------------------------------------------------------------------------
TAIAGENTSLINK        BITMAP "icons\TAiAgentsLink_24.bmp"
TAIAGENTSNODE        BITMAP "icons\TAiAgentsNode_24.bmp"
TAIAGENTS            BITMAP "icons\TAiAgents_24.bmp"
TAIAGENTMANAGER      BITMAP "icons\TAiAgentManager_24.bmp"
TAIAGENTSTOOLSAMPLE  BITMAP "icons\TAiAgentsToolSample_24.bmp"
//------------------------------------------------------------------------------
// v3.8 - Iconos generados con gen_icons.py (A2A, bridges, tools, realtime, Jev...)
//------------------------------------------------------------------------------
TAIA2ACLIENT                   BITMAP "icons\TAiA2AClient_24.bmp"
TAIA2ASERVER                   BITMAP "icons\TAiA2AServer_24.bmp"
TAIA2AAGENTTOOL                BITMAP "icons\TAiA2AAgentTool_24.bmp"
TAIAUDIOCAPTURE                BITMAP "icons\TAiAudioCapture_24.bmp"
TAIAUDIOPLAYER                 BITMAP "icons\TAiAudioPlayer_24.bmp"
TAICOMPUTERUSETOOL             BITMAP "icons\TAiComputerUseTool_24.bmp"
TAISHELL                       BITMAP "icons\TAiShell_24.bmp"
TAITEXTEDITORTOOL              BITMAP "icons\TAiTextEditorTool_24.bmp"
TAISKILLS                      BITMAP "icons\TAiSkills_24.bmp"
TAIGUARDRAILS                  BITMAP "icons\TAiGuardrails_24.bmp"
TAIEVALRUNNER                  BITMAP "icons\TAiEvalRunner_24.bmp"
TAITELEMETRY                   BITMAP "icons\TAiTelemetry_24.bmp"
TLLMNODE                       BITMAP "icons\TLLMNode_24.bmp"
TAIEMBEDDINGCONNECTION         BITMAP "icons\TAiEmbeddingConnection_24.bmp"
TAIRAGDOCUMENTMANAGER          BITMAP "icons\TAiRagDocumentManager_24.bmp"
TAIMCPSSEHTTPSERVER            BITMAP "icons\TAiMCPSSEHttpServer_24.bmp"
TAICHATSPEECHBRIDGE            BITMAP "icons\TAiChatSpeechBridge_24.bmp"
TAICHATVISIONBRIDGE            BITMAP "icons\TAiChatVisionBridge_24.bmp"
TAICHATIMAGEBRIDGE             BITMAP "icons\TAiChatImageBridge_24.bmp"
TAICHATVIDEOBRIDGE             BITMAP "icons\TAiChatVideoBridge_24.bmp"
TAICHATDOCUMENTBRIDGE          BITMAP "icons\TAiChatDocumentBridge_24.bmp"
TAICHATCODEINTERPRETERBRIDGE   BITMAP "icons\TAiChatCodeInterpreterBridge_24.bmp"
TAICHATWEBSEARCHBRIDGE         BITMAP "icons\TAiChatWebSearchBridge_24.bmp"
TAIGLMCHAT                     BITMAP "icons\TAiGLMChat_24.bmp"
TAIQWENCHAT                    BITMAP "icons\TAiQwenChat_24.bmp"
TCOHERECHAT                    BITMAP "icons\TCohereChat_24.bmp"
TAILLAMACPPCHAT                BITMAP "icons\TAiLlamacppChat_24.bmp"
TAIMAKERAICHAT                 BITMAP "icons\TAiMakerAiChat_24.bmp"
TAIGENERICCHAT                 BITMAP "icons\TAiGenericChat_24.bmp"
TAICOHEREEMBEDDINGS            BITMAP "icons\TAiCohereEmbeddings_24.bmp"
TAIGENERICEMBEDDINGS           BITMAP "icons\TAiGenericEmbeddings_24.bmp"
TAILLAMACPPEMBEDDINGS          BITMAP "icons\TAiLlamacppEmbeddings_24.bmp"
TAIQWENEMBEDDINGS              BITMAP "icons\TAiQwenEmbeddings_24.bmp"
TAIOPENAIREALTIMESTT           BITMAP "icons\TAiOpenAiRealtimeSTT_24.bmp"
TAIOPENAIREALTIMETRANSLATE     BITMAP "icons\TAiOpenAiRealtimeTranslate_24.bmp"
TAIOPENAILIVECHAT              BITMAP "icons\TAiOpenAiLiveChat_24.bmp"
TAIOPENAIAUDIO                 BITMAP "icons\TAiOpenAiAudio_24.bmp"
TAIGEMINIREALTIMESTT           BITMAP "icons\TAiGeminiRealtimeSTT_24.bmp"
TAIGROKREALTIMECHAT            BITMAP "icons\TAiGrokRealtimeChat_24.bmp"
TAIMAKERAIREALTIMECHAT         BITMAP "icons\TAiMakerAiRealtimeChat_24.bmp"
TAIQWENREALTIMECHAT            BITMAP "icons\TAiQwenRealtimeChat_24.bmp"
TAIQWENREALTIMESTT             BITMAP "icons\TAiQwenRealtimeSTT_24.bmp"
TAIQWENREALTIMETTS             BITMAP "icons\TAiQwenRealtimeTTS_24.bmp"
TAIQWENREALTIMETRANSLATE       BITMAP "icons\TAiQwenRealtimeTranslate_24.bmp"
TAIDALLEIMAGETOOL              BITMAP "icons\TAiDalleImageTool_24.bmp"
TAIOPENAISPEECHTOOL            BITMAP "icons\TAiOpenAiSpeechTool_24.bmp"
TAIOPENAIWEBSEARCHTOOL         BITMAP "icons\TAiOpenAiWebSearchTool_24.bmp"
TAISORAGENERATOR               BITMAP "icons\TAiSoraGenerator_24.bmp"
TAISORAVIDEOTOOL               BITMAP "icons\TAiSoraVideoTool_24.bmp"
TAIGEMINISPEECHTOOL            BITMAP "icons\TAiGeminiSpeechTool_24.bmp"
TAIGEMINIVIDEOTOOL             BITMAP "icons\TAiGeminiVideoTool_24.bmp"
TAIGEMINIWEBSEARCHTOOL         BITMAP "icons\TAiGeminiWebSearchTool_24.bmp"
TAIVEOGENERATOR                BITMAP "icons\TAiVeoGenerator_24.bmp"
TAIELEVENLABSSPEECHTOOL        BITMAP "icons\TAiElevenLabsSpeechTool_24.bmp"
TAIOLLAMAOCRTOOL               BITMAP "icons\TAiOllamaOcrTool_24.bmp"
TAIOLLAMAVISIONTOOL            BITMAP "icons\TAiOllamaVisionTool_24.bmp"
TAIQWENVOICES                  BITMAP "icons\TAiQwenVoices_24.bmp"
TAIQWENRAGRERANKER             BITMAP "icons\TAiQwenRAGReranker_24.bmp"
TAIJEV                         BITMAP "icons\TAiJev_24.bmp"
TAIJEVBATCHLABELER             BITMAP "icons\TAiJevBatchLabeler_24.bmp"
TAIJEVDISPATCHCLASSIFIER       BITMAP "icons\TAiJevDispatchClassifier_24.bmp"
TAIJEVEVALSCORER               BITMAP "icons\TAiJevEvalScorer_24.bmp"
TAIJEVGUARDRAILCLASSIFIER      BITMAP "icons\TAiJevGuardrailClassifier_24.bmp"
TAIJEVMODELROUTER              BITMAP "icons\TAiJevModelRouter_24.bmp"
TAIJEVPROMPTGUARD              BITMAP "icons\TAiJevPromptGuard_24.bmp"
TAIJEVRAGRERANKER              BITMAP "icons\TAiJevRAGReranker_24.bmp"
//------------------------------------------------------------------------------
// Fin del archivo de recursos
//------------------------------------------------------------------------------
